html {
    height: 100%;
  }

  body {
    font-family: "Arial", "Helvetica", sans-serif;
    color: black;
    height: 100%;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  p {
    text-align: center;
    padding: 0.2rem;
  }

  input {
    margin-top: 5px;
  }

  button {
    /* background-color: #183152; */
    background-color: #34393E;
    color: white;
    font-size: 1em;
    padding: 0.4rem;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.2); */
    border: none;
    margin-right: 0.5%;
    margin-left: 0.5%;
    margin-top: 1%;
  }


  button:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  .tooltip {
    position: absolute;
    background: #646464;
    border-radius:4px;
    padding: 6px 12px;
    font-family: arial;
    font-size: 12px;
    text-shadow: 0px 1px 1px #000;
    color: white;
    z-index: 9999;
  }

  .tooltip:before {
    content : " ";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #646464;
    position:absolute;
    bottom:-5px;
    left:5px;
  }

  #boite-masses-base,
  #boite-masses-5kg {
    display: none;
  }

  #consignes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 10%;
    width: 100%;
    background-color: #a1bbd9;
    font-size: 1.8vmin;
    box-sizing: border-box;
    border-color: white;
    border-style: solid;
    border-top-width: 10px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
  }

  #reserve {
    /* position: relative; */
    display: flex;
    flex-wrap: wrap;
    /* padding: 0.5%; */
    align-items: flex-end;
    min-height: 105px;
    height: 15%;
    width: 100%;
    box-sizing: border-box;
    /* background-color: #fff8dd; */
    box-sizing: border-box;
    background-color: #ede5e5;
    border-color: white;
    border-style: solid;
    border-top-width: 0px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
}

  #reserve img {
    margin-left: 1%;
    margin-bottom: 0.5%;
  }

  #centre {
    display: flex;
    height: 68%;
    min-width: 675px;
    min-height: 371px;
    box-sizing: border-box;
    border-color: white;
    border-style: solid;
    border-top-width: 0px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
  }

  #zone-gauche {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    background-color: #a1bbd9;
    border-color: white;
    border-style: solid;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 10px;
    border-bottom-width: 0px;
  }

  #range-masses {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: flex-end;
    width: 100%;
    height: 70%;
    margin-bottom: 5%;
  }

  .case-masse {
    display: flex;
    flex-direction: column;
    margin: 2%;
    text-align: center;
  }

  .case-masse img {
    margin-bottom: 0;
  }

  #resultat {
    margin-right: 1%;
    width: 100%;
    color: white;
    /* background-color: #375D81; */
    background-color: #B1221C;
  }

  #receptacle {
    display: flex;
    /* position: relative; */
    width: 60%;
    min-width: 675px;
    min-height: 371px;
    background-color: white;
    align-items: end;
  }

  #balance {
    display: block;
    position: relative;
    height: 371px;
    width: 675px;
    margin-left: auto;
    margin-right: auto;
  }

  #balance img {
    position: absolute;
  }

  #zone-affichage {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    background-color: #a1bbd9;
    border-color: white;
    border-style: solid;
    border-top-width: 0px;
    border-left-width: 10px;
    border-right-width: 0px;
    border-bottom-width: 0px;
  }

  #infos {
    color: black;
    margin-bottom: 25%;
    font-size: 2vmin;
  }

  #messages {
    color: white;
    /* background-color: #375D81; */
    margin-bottom: 10%;
    /* padding-left: 1%;
    padding-right: 1%; */
    background-color: #B1221C;
    text-align: center;
  }

  #commandes {
    text-align: center;
    width: 100%;
    height: 7%;
    background-color: #e5d9d9;
}

  .masse:hover {
    cursor: pointer;
  }
